*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background:url("https://images.pexels.com/photos/552598/pexels-photo-552598.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	 height: 100%; 

   
    background-position: center;
    
    background-size: cover;
}

.main{
	background-color: black;
	width:400px;
	margin:100px auto;
	height:175px;
	position:relative;
	padding:25px;
}

.badge{
	background-color: #e66357;
	color:white;
	font-family: sans-serif;
	font-weight:bold;
	padding:5px 10px;
	width:96px;
	position:absolute;
	top:-14px;
	left:38%;

}

.clock{
	background-color: #ebebeb;
	padding:20px;
	height:100%;
	font-size: 55px;
	text-align: center;
	padding-top: 25px;
}
